$primary-color: #064273;
$text-color: 	#76b6c4;
$logo-img: url('./icon.png');

body {
    color: $primary-color;
    font-weight: bold;
}

.welcome {
    color: $text-color;
    font-weight: normal;
}

.logo {
    background-image: $logo-img;
    width: 50px;
    height: 50px;
}