$primary: #005173;
$accent: 	#4a626c;
$logo-img: url('./icon.png');

body {
    color: $primary;
    font-weight: bold;
}

.welcome {
    color: $accent;
    font-weight: normal;
}

.logo {
    background-image: $logo-img;
    width: 50px;
    height: 50px;
}