$primary: #283962;
$secondary: #2C5E70;
$accent: 	#73C3B9;
$logo-img: url('./icon.png');
$nav-bar-height: 60px;
$big-font-size: 20px;
$normal-font-size: 16px;
$small-font-size: 12px;

$shadow-color: #666;

body {
    color: $primary;
    font-weight: bold;
    font-size: $normal-font-size;
    margin: 0px;
    
}
nav {
    height: $nav-bar-height;
    overflow: hidden;
    box-shadow: 0 1px 5px 0px  $shadow-color;
}

.UserLogin {
    cursor: inherit;
    color: $primary;
    font-weight: normal;
    font-size: $big-font-size;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.UserPanelContainer {
    display: block;
    float: right;
    height: inherit;
}

.UserPanel {
    margin-top: $nav-bar-height*0.2;
    margin-bottom: $nav-bar-height*0.1;
    height: $nav-bar-height*0.5;
}

.UserPanelLabel {
    height: inherit;
    margin:0;
}

.UserPanelRoot {
    letter-spacing: normal;
    text-transform: unset;
    border-radius: 0;
}

.UserPanelRoot:hover {
    background-color: $accent;
}

.logo {
    display: inline-block;
    margin-top: $nav-bar-height*0.2;
    margin-bottom: $nav-bar-height*0.2;
    margin-left: 50px;
    height: $nav-bar-height*0.6;
}

.Avatar {
    display: inline-block;
    vertical-align: middle;
    height: inherit;
    margin:0;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
}